<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/view.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <%var total_payas =0, total_saksham =0, total_sushant=0, total_meetings=0%>
    
    <% for( var meeting of attendance ) { %> <% if(meeting.Payas=="Present"){ %>
    <%total_payas = total_payas+1 %> <%}%> <% if(meeting.Sushant=="Present"){ %>
    <%total_sushant = total_sushant+1 %> <%}%> <%
    if(meeting.Saksham=="Present"){ %> <%total_saksham = total_saksham+1 %>
    <%}%> <% total_meetings = total_meetings+1%> <% } %>
    
      <div  class="main text-center border border-light p-5" >
        <div id="heading">Total Attendance</div>

        <hr>
      <!--<h4 style="display: inline;">Total meetings</h4>-->
      <ol>
        <li class="member">
        Payas Jain
        <div class="labels">
          <% if((total_payas/total_meetings)*100 > 75){ %>
            <div class="green">
              <%= ((total_payas/total_meetings)*100).toFixed(2) %>
            </div>
          <%}else{%>
            <div class="red">
              <%= ((total_payas/total_meetings)*100).toFixed(2) %>
            </div>
        <% } %> 
        </div>
        </li>  
        <li class="member">
          Sushant Mahajan
          <div class="labels">
            <% if((total_sushant/total_meetings)*100 > 75){ %>
              <div class="green">
                <%= ((total_sushant/total_meetings)*100).toFixed(2) %>
              </div>
            <%}else{%>
              <div class="red">
                <%= ((total_sushant/total_meetings)*100).toFixed(2) %>
              </div>
          <% } %> 
          </div>
        </li>

        <li class="member">
          Saksham Jain 
          <div class="labels">
            <% if((total_saksham/total_meetings)*100 > 75){ %>
              <div class="green">
                <%= ((total_saksham/total_meetings)*100).toFixed(2) %>
              </div>
            <%}else{%>
              <div class="red">
                <%= ((total_saksham/total_meetings)*100).toFixed(2) %>
              </div>
          <% } %> 
          </div>
        </li>
      </ol>
      <div class="buttons">
        <a href="/" class=" bt btn btn-dark   btn-rounded"><span>Submit New Attendance</span></a>
        <a href="/edit" class="bt btn btn-danger  btn-rounded"><span>Edit Attendance</span></a>    
      </div>
      
    </div>
    
    
    
  </body>
</html>
